<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 90vh;">
  <div class="uk-container uk-container-expand uk-margin-left uk-margin-right uk-margin-top">

    <div class="uk-grid">

      <div class="uk-width-3-5">
        <div class="uk-card uk-card-body uk-card-default">
          <h5>Welcome to the survey tool of the EOSC Observatory</h5>
          <p>
            This is a tool that is being developed by the EOSC Future project to support the EOSC Steering Board and EOSC Association in their monitoring of activities contributing to EOSC. Annual surveys will be conducted via this survey tool that are aimed at representatives of European Member States and Associated Countries (MS/AC) in the EOSC Steering Board and member organisations in the EOSC Association. The EOSC Steering Board surveys will focus on the monitoring of national policies and investments for EOSC and their impact on EOSC readiness. The EOSC Association surveys will focus on the monitoring of financial and in-kind activities that contribute to the development of EOSC and implementation of the EOSC Partnership. All current and past surveys and responses will be available on this private survey tool homepage.
          </p>
        </div>
      </div>

    </div>


  </div>
</div>

