<div class="uk-section uk-section-default uk-section-small uk-preserve-color">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid">
      <div class="uk-width-1-1">
        <ul id="policies-tabs" class="uk-switcher">
<!--          EOSC-relevant Policies-->
          <li class="uk-animation-fade">
<!--            <app-ncte-policies></app-ncte-policies>-->
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-1', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-1" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div *ngFor="let mapSubtitle of mapSubtitlesArray[1]; let i=index" class="uk-flex uk-flex-top uk-margin-small-bottom">
                      <input id="chart1-{{i}}" type="radio" name="map1" [checked]="i===0" (click)="createComplexMapDataset(i,1)">
                      <label for="chart1-{{i}}">{{mapSubtitle}}</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[1]" [subtitle]="mapSubtitles[1]"
                                                 [title]="'EOSC-relevant Policies in Place at National or Regional Level'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[1]" [countries]="tableAbsoluteDataArray[1]"
                                       [tableType]="'policies'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
          </li>
<!--          Implementation Measures-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-2', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-2" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div *ngFor="let mapSubtitle of mapSubtitlesArray[2]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">
                      <input id="chart2-{{i}}" type="radio" name="map2" [checked]="i===0" (click)="createMapDataset(i, 2)">
                      <label for="chart2-{{i}}">{{mapSubtitle}}</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[2]" [subtitle]="mapSubtitles[2]"
                                                 [title]="'EOSC-relevant Policies Include Measures to Ensure Implementation'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[2]" [countries]="tableAbsoluteDataArray[2]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          Financial Strategies-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-8', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-8" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div *ngFor="let mapSubtitle of mapSubtitlesArray[3]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">
                      <input id="chart8-{{i}}" type="radio" name="map8" [checked]="i===0" (click)="createMapDataFromCategorization(i,3)">
                      <label for="chart8-{{i}}">{{mapSubtitle}}</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[3]" [subtitle]="mapSubtitles[3]"
                                                 [title]="'National Contributions to EOSC Linked to Policies and Actions'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <app-countries-table *ngIf="tableAbsoluteDataArray[3]" [countries]="tableAbsoluteDataArray[3]"
                                       [tableType]="'funding'">
                  </app-countries-table>
                </div>
              </li>
            </ul>
<!--            <app-ncte-funding></app-ncte-funding>-->
          </li>
<!--          EOSC-relevant Activities-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-5', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-5" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                    <div class="uk-width-1-3 uk-margin-medium-top">
                      <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                        Select one of the following to change the view of the map
                      </div>
                      <div *ngFor="let mapSubtitle of mapSubtitlesArray[12]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">
                        <input id="chart5-{{i}}" type="radio" name="map5" [checked]="i===0" (click)="createMapDataset(i,12)">
                        <label for="chart5-{{i}}">{{mapSubtitle}}</label>
                      </div>
                    </div>
                    <div class="uk-width-2-3" style="height: 700px">
                      <app-highcharts-category-map [mapData]="questionsDataArray[12]" [subtitle]="mapSubtitles[12]"
                                                   [title]="'EOSC-relevant Activities Included in National Contributions in 2020'">
                      </app-highcharts-category-map>
                    </div>
                  </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[12]" [countries]="tableAbsoluteDataArray[12]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          EOSC-relevant Services-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-6', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-6" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div *ngFor="let mapSubtitle of mapSubtitlesArray[13]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">
                      <input id="chart6-{{i}}" type="radio" name="map6" [checked]="i===0" (click)="createMapDataset(i,13)">
                      <label for="chart6-{{i}}">{{mapSubtitle}}</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[13]" [subtitle]="mapSubtitles[13]"
                                                 [title]="'EOSC-relevant Services Included in National Contributions in 2020'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[13]" [countries]="tableAbsoluteDataArray[13]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
<!--          EOSC-relevant Infrastructure-->
          <li class="uk-animation-fade">
            <ul class="uk-flex-inline uk-flex-left uk-subnav uk-subnav-pill-alt uk-margin-remove"
                data-uk-switcher="{connect:'#map-vs-table-7', animation: 'fade'}">
              <li>
                <a class="uk-margin-remove-bottom"><span>Graph view</span></a>
              </li>
              <li>
                <a class="uk-margin-remove-bottom"><span>Table view</span></a>
              </li>
            </ul>
            <ul id="map-vs-table-7" class="uk-switcher uk-margin">
              <li>
                <div class="uk-grid">
                  <div class="uk-width-1-3 uk-margin-medium-top">
                    <div class="uk-text-meta uk-margin-bottom uk-text-italic">
                      Select one of the following to change the view of the map
                    </div>
                    <div *ngFor="let mapSubtitle of mapSubtitlesArray[14]; let i=index" class="uk-flex uk-flex-top uk-margin-bottom">
                      <input id="chart7-{{i}}" type="radio" name="map7" [checked]="i===0" (click)="createMapDataset(i,14)">
                      <label for="chart7-{{i}}">{{mapSubtitle}}</label>
                    </div>
                  </div>
                  <div class="uk-width-2-3" style="height: 700px">
                    <app-highcharts-category-map [mapData]="questionsDataArray[14]" [subtitle]="mapSubtitles[14]"
                                                 [title]="'EOSC-relevant Infrastructures Included in National Contributions in 2020'">
                    </app-highcharts-category-map>
                  </div>
                </div>
              </li>
              <li>
                <div class="uk-card uk-card-default uk-card-body">
                  <span>Coming soon...</span>
<!--                  <app-countries-table *ngIf="tableAbsoluteDataArray[13]" [countries]="tableAbsoluteDataArray[13]"-->
<!--                                       [tableType]="'policies'">-->
<!--                  </app-countries-table>-->
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
