<div class="uk-visible@m">
  <div class="tm-header uk-visible@m tm-header-transparent sub-menu">
    <div class="uk-navbar-container uk-sticky uk-navbar-transparent" uk-sticky="top:0" media="768"
         cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"
         top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent">
      <!--<div class="uk-navbar-container uk-navbar-transparent">-->
      <div class="uk-container uk-container-large">
        <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li [routerLinkActive]="['uk-active']"><a [routerLink]="'./policies'" class="sub-menu-item">Policies</a></li>
              <li [routerLinkActive]="['uk-active']"><a [routerLink]="'./funding'" class="sub-menu-item">Funding</a></li>
              <li [routerLinkActive]="['uk-active']"><a [routerLink]="'./mandate'" class="sub-menu-item">Mandate</a></li>
              <li [routerLinkActive]="['uk-active']"><a [routerLink]="'./monitoring'" class="sub-menu-item">Monitoring</a></li>
              <li [routerLinkActive]="['uk-active']"><a [routerLink]="'./openAccess'" class="sub-menu-item">Open Access</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
  </div>
</div>

<router-outlet></router-outlet>
