<ng-container>
  <table *ngIf="countries" class="uk-table uk-table-hover uk-table-divider uk-table-small">
    <thead>
    <tr>
      <th class="" (click)="sortBy('country')">
        <span *ngIf="!isSortedBy || isSortedBy!='country'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='country' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='country' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
        Country
      </th>
      <th *ngIf="tableType === 'funding'" class="uk-text-center" (click)="sortBy('dedicatedFinancialContributionsToEOSCLinkedToPolicies')">
        <span *ngIf="!isSortedBy || isSortedBy!='dedicatedFinancialContributionsToEOSCLinkedToPolicies'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='dedicatedFinancialContributionsToEOSCLinkedToPolicies' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='dedicatedFinancialContributionsToEOSCLinkedToPolicies' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
        Dedicated financial contributions to EOSC linked to policies
      </th>
      <th *ngIf="tableType === 'mandate'" class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
        <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
        <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
        Has appointed Mandated organization
      </th>
      <ng-container *ngIf="tableType === 'policies'">
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          There are one or more policies relevant for the EOSC in place
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy in planning
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          One or more of the open science policies explicitly mentions EOSC
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Open access to data, data management and/or FAIR
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses FAIRisation of data
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Open access to software
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Preservation and reuse of scientific information
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Infrastructures that include aspects of open science
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Skills and competencies
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Incentives and rewards
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Policy addresses Citizen science
        </th>
        <th class="uk-text-center" (click)="sortBy('hasAppointedMandatedOrganization')">
          <span *ngIf="!isSortedBy || isSortedBy!='hasAppointedMandatedOrganization'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='hasAppointedMandatedOrganization' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Other
        </th>
      </ng-container>
      <ng-container *ngIf="tableType === 'openAccess'">
        <th class="uk-text-center" (click)="sortBy('oaSharePublicationsAffiliatedPeerReviewed')">
          <span *ngIf="!isSortedBy || isSortedBy!='oaSharePublicationsAffiliatedPeerReviewed'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsAffiliatedPeerReviewed' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsAffiliatedPeerReviewed' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Share of Open Access Publications (Affiliated peer-reviewed)
        </th>
        <th class="uk-text-center" (click)="sortBy('oaSharePublicationsAffiliated')">
          <span *ngIf="!isSortedBy || isSortedBy!='oaSharePublicationsAffiliated'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsAffiliated' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsAffiliated' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Share of Open Access Publications (Affiliated including non peer-reviewed)
        </th>
        <th class="uk-text-center" (click)="sortBy('oaSharePublicationsDepositedPeerReviewed')">
          <span *ngIf="!isSortedBy || isSortedBy!='oaSharePublicationsDepositedPeerReviewed'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsDepositedPeerReviewed' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsDepositedPeerReviewed' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Share of Open Access Publications (Deposited peer-reviewed)
        </th>
        <th class="uk-text-center" (click)="sortBy('oaSharePublicationsDeposited')">
          <span *ngIf="!isSortedBy || isSortedBy!='oaSharePublicationsDeposited'" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsDeposited' && isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-descending.svg"></span>
          <span *ngIf="isSortedBy && isSortedBy=='oaSharePublicationsDeposited' && !isDescending" class="uk-margin-small-right"><img src="../../../assets/images/icons/sort-ascending.svg"></span>
          Share of Open Access Publications (Deposited including non peer-reviewed)
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let countryOverview of countries">
      <td class=""><span>{{countryOverview.name}}</span></td>
      <td *ngIf="tableType === 'funding'" class="uk-text-center">
        <ng-container *ngIf="countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies===null
                            || countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies==='null'">Awaiting data
        </ng-container>
        <ng-container *ngIf="countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies!==null
                            && countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies!=='null'">
          {{countryOverview.dedicatedFinancialContributionsToEOSCLinkedToPolicies}}
        </ng-container>
      </td>
      <td *ngIf="tableType === 'mandate'" class="uk-text-center">
        <ng-container *ngIf="countryOverview.hasAppointedMandatedOrganization===null
                            || countryOverview.hasAppointedMandatedOrganization==='null'">Awaiting data
        </ng-container>
        <ng-container *ngIf="countryOverview.hasAppointedMandatedOrganization!==null
                            && countryOverview.hasAppointedMandatedOrganization!=='null'">
          {{countryOverview.hasAppointedMandatedOrganization}}
        </ng-container>
      </td>
      <ng-container *ngIf="tableType === 'policies'">
        <td class="uk-text-center" *ngFor="let policy of countryOverview.EOSCRelevantPoliciesInPlace">
          <ng-container *ngIf="policy === null || policy === 'null' || policy === 'false'">
            --
          </ng-container>
          <ng-container *ngIf="(policy !== null || policy !== 'null') && policy === 'true'">
            Yes
          </ng-container>
        </td>
      </ng-container>
      <ng-container *ngIf="tableType === 'openAccess'">
        <td class="uk-text-center">
          <ng-container *ngIf="countryOverview.oaSharePublicationsAffiliatedPeerReviewed===null">--
          </ng-container>
          <ng-container *ngIf="countryOverview.oaSharePublicationsAffiliatedPeerReviewed!==null">
            {{countryOverview.oaSharePublicationsAffiliatedPeerReviewed | number :'1.0-2'}}%
          </ng-container>
        </td>
        <td class="uk-text-center">
          <ng-container *ngIf="countryOverview.oaSharePublicationsAffiliated===null">--
          </ng-container>
          <ng-container *ngIf="countryOverview.oaSharePublicationsAffiliated!==null">
            {{countryOverview.oaSharePublicationsAffiliated | number :'1.0-2'}}%
          </ng-container>
        </td>
        <td class="uk-text-center">
          <ng-container *ngIf="countryOverview.oaSharePublicationsDepositedPeerReviewed===null">--
          </ng-container>
          <ng-container *ngIf="countryOverview.oaSharePublicationsDepositedPeerReviewed!==null">
            {{countryOverview.oaSharePublicationsDepositedPeerReviewed | number :'1.0-2'}}%
          </ng-container>
        </td>
        <td class="uk-text-center">
          <ng-container *ngIf="countryOverview.oaSharePublicationsDeposited===null">--
          </ng-container>
          <ng-container *ngIf="countryOverview.oaSharePublicationsDeposited!==null">
            {{countryOverview.oaSharePublicationsDeposited | number :'1.0-2'}}%
          </ng-container>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</ng-container>

