<div class="uk-section uk-section-primary uk-preserve-color uk-section-small">
  <div class="uk-container uk-container-expand">
    <a [routerLink]="['../surveys']" class="uk-text-primary">Back to surveys</a>
    <div class="uk-flex uk-flex-right">
      <div>
        <button class="uk-button uk-button-primary uk-button-large" (click)="generateReport()">
          Generate Complete Report
        </button>
        <p class="uk-text-meta uk-margin-small-top">
          Charts ready: {{ worldCharts.length }}/{{ chartsCfg.length }}
        </p>
      </div>
    </div>
  </div>
</div>

<pre>
  {{ reportData | json }}
</pre>
<div class="uk-section uk-section-primary uk-preserve-color uk-section-small">
  <div class="uk-container uk-container-expand uk-child-width-1-3" data-uk-grid>
    <div *ngFor="let chart of chartsCfg; let i = index">
      <ng-container *ngIf="chart.series.length > 0">
        <h6 class="uk-flex uk-flex-center">{{ chart.title }}</h6>
        <app-world-map [series]="chart.series" (chartReady)="onChildChartReady($event, i)"></app-world-map>
        <button class="uk-button uk-button-small uk-button-secondary uk-margin-small-top" (click)="downloadSingleChart(i)">
          Download Chart {{i+1}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
