<div class="uk-container">
  <h5 class="uk-margin-top">Survey History</h5>
  <table class="uk-margin-top uk-table uk-table-striped uk-table-divider">
    <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of surveyAnswerHistory?.entries">
      <td>{{entry.fullname}}</td>
      <td>{{entry.email}}</td>
      <td>{{entry.action}}</td>
      <td>{{entry.time | date}}</td>
    </tr>
    </tbody>
  </table>
</div>
