<div class="uk-width-1-5 history-sidebar">
  <div id="">
    <div class="uk-padding-small uk-margin-top">Version History</div>
    <div class="uk-padding-small">
      <button class="uk-button uk-button-small uk-button-primary" [disabled]="selectedEntries.length !== 2"
              (click)="showComparison()" title="Two versions must be selected">Compare versions
      </button>

      <button class="uk-button uk-button-small uk-button-primary uk-margin-small-top" [disabled]="selectedEntries.length !== 1"
              (click)="restoreVersion()" title="Click the checkbox of the version you want to restore to">Restore to selected version
      </button>
    </div>
    <hr>
    <table class="uk-margin-top uk-table uk-table-striped uk-table-divider uk-table-small uk-table-middle history-table">
<!--      <thead>-->
<!--      </thead>-->
      <tbody>
      <tr *ngFor="let entry of surveyAnswerHistory?.entries; let i = index"
          [ngClass]="{'uk-active': selectedVersion === entry}">
        <td title="{{entry.time | date:'dd/MM/yyyy, h:mm a z'}}" (click)="selectVersionToShow(entry)" style="cursor: pointer">

          <div class="uk-text-emphasis" [ngClass]="{'uk-text-primary': selectedVersion === entry}">
            {{entry.time | date:'medium'}}
          </div>
          <div *ngIf="i==0" class="uk-text-italic uk-text-small uk-text-margin-small-top">
            Current version
          </div>
          <div class="uk-margin-small-top uk-text-meta">
            {{entry.fullname}} ({{entry.email}})
          </div>
<!--          {{entry.fullname}} ({{entry.email}})<br>{{entry.time | date:'dd/MM/yyyy, h:mm a z'}}-->
          <!--            {{entry.version}}-->
        </td>
        <td>
          <input type="checkbox" class="uk-checkbox" (change)="selectVersionsToCompare($event, entry)"
                 [ngClass]="{'uk-disabled': (selectedEntries.length === 2 && !selectedEntries.includes(entry))}">
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div *ngIf="!hide" class="history-content">
  <div class="uk-section-default uk-section uk-section-small" style="min-height: 90vh;">
    <div class="uk-container uk-container-expand">
      <div class="uk-width-4-5">
        <h5 class="uk-margin-medium-bottom uk-flex uk-flex-middle">
<!--          <a [routerLink]="['/contributions/'+ currentStakeholderId +'/mySurveys']" class="uk-margin-small-right" title="Back">-->
          <a [routerLink]="['../../../']" class="uk-margin-small-right" title="Back">
            <span class="material-icons">keyboard_backspace</span>
          </a>
          <span>{{selectedVersion?.time | date:'medium'}}</span>
        </h5>
        <app-compare-surveys [model]="model" [payloadA]="surveyAnswerA" [payloadB]="null" [tabsHeader]="tabsHeader"
                             [entryA]="selectedEntries[0]" [entryB]="null">
        </app-compare-surveys>
      </div>

    </div>
  </div>

</div>

<a class="uk-display-none" id="scrollTop" href="#title" uk-scroll></a>

<div *ngIf="loading" class="whiteFilm">
  <i class="loader-big" aria-hidden="true"></i>
</div>

<!--Compare Modal-->
<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body" style="min-height: 100vh">
    <button class="uk-modal-close-full uk-close-large uk-padding-small" type="button" (click)="showHistoryContent()" uk-close></button>
    <div class="uk-margin-top">
      <app-compare-surveys [model]="model" [payloadA]="surveyAnswerA" [payloadB]="surveyAnswerB" [tabsHeader]="tabsHeader"
                           [entryA]="selectedEntries[0]" [entryB]="selectedEntries[1]">
      </app-compare-surveys>
    </div>
  </div>
</div>
