<div class="uk-section-default uk-section uk-section-small" style="min-height: 90vh;">
  <div class="uk-container uk-container-expand">
    <div uk-grid>
      <div id="title" class="uk-width-2-3">
        <h5 class="uk-margin-top">Survey History</h5>
      </div>
      <div class="uk-width-1-3 uk-flex uk-flex-right">
        <button class="uk-button uk-button-primary" [disabled]="selectedEntries.length !== 2" (click)="showComparison()"
                title="Two versions must be selected">Compare versions
        </button>
      </div>

      <app-compare-surveys [model]="model" [payloadA]="surveyAnswerA" [payloadB]="null" [tabsHeader]="tabsHeader"
                           [entryA]="selectedEntries[0]" [entryB]="null" class="uk-width-4-5">
      </app-compare-surveys>
      <div class="uk-width-1-5" style="overflow: auto; max-height: 70vh">
        <table class="uk-margin-top uk-table uk-table-striped uk-table-divider uk-table-small uk-table-middle">
          <thead>
<!--          <tr>-->
<!--            <th></th>-->
<!--            <th>User</th>-->
<!--            <th>Version</th>-->
<!--            <th>Action</th>-->
<!--            <th>Date</th>-->
<!--          </tr>-->
          </thead>
          <tbody>
          <tr *ngFor="let entry of surveyAnswerHistory?.entries"
              [ngClass]="{'uk-active': selectedVersion === entry.version}">
            <td title="{{entry.time | date:'dd/MM/yyyy, h:mm a z'}}"
                (click)="selectVersionToShow(entry.version)" style="cursor: pointer">
              {{entry.fullname}} ({{entry.email}})<br>{{entry.time | date}}
<!--            {{entry.version}}-->
            </td>
            <td>
              <input type="checkbox" class="uk-checkbox" (change)="selectVersionsToCompare($event, entry)"
                       [ngClass]="{'uk-disabled': (selectedEntries.length === 2 && !selectedEntries.includes(entry))}">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a class="uk-display-none" id="scrollTop" href="#title" uk-scroll></a>
  </div>
</div>
<div *ngIf="loading" class="whiteFilm">
  <i class="loader-big" aria-hidden="true"></i>
</div>

<!--Compare Modal-->
<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body" style="min-height: 100vh">
    <button class="uk-modal-close-full uk-close-large uk-padding-small" type="button" uk-close></button>
    <div class="uk-margin-top">
      <app-compare-surveys [model]="model" [payloadA]="surveyAnswerA" [payloadB]="surveyAnswerB" [tabsHeader]="tabsHeader"
                           [entryA]="selectedEntries[0]" [entryB]="selectedEntries[1]">
      </app-compare-surveys>
    </div>
  </div>
</div>
