<div *ngIf="ready" class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 90vh;">
  <div class="uk-container uk-container-expand uk-margin-left uk-margin-right uk-margin-top">
    <a class="uk-button uk-button-default" href="#modal-full" uk-toggle>Open</a>
  </div>
</div>


<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <app-compare-surveys [model]="model" [payloadA]="surveyAnswerA" [payloadB]="surveyAnswerB"
                         [tabsHeader]="tabsHeader">
    </app-compare-surveys>
  </div>
</div>
