<!--NATIONAL CONTRIBUTIONS TO EOSC MENU-->

<div id="sidebar_main_content" class="sidebar_main_swipe sidebar_main_active" [class.sidebar_main_active]="open">

  <aside id="sidebar_main">
    <div id="sidebar_content">
      <div  class="menu_section uk-margin-top" style="min-height: 30vh">
        <div class="" style="padding-left: 23px;"><h6>National contributions 2021</h6></div>
        <ul #nav class="uk-list uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="duration: 500">
          <li [ngClass]="{'uk-active current_section': isPoliciesActive}" class="uk-parent">
            <a [routerLink]="'./policies'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">policy</span>
                </div>
                <span [class.uk-text-bolder]="isPoliciesActive" class="uk-width-expand uk-text-truncate uk-margin-small-left" title="EOSC policies and financial investments">EOSC Policies</span>
              </div>
            </a>
            <ul class="uk-nav-sub">
              <li [ngClass]="{'uk-active current_section': activeLink == 0}" class="uk-width-1-1" (click)="updateUrlPathParam(0)">
                <a><span class="uk-text-truncate">EOSC-relevant Policies</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 1}" class="uk-width-1-1" (click)="updateUrlPathParam(1)">
                <a><span class="uk-text-truncate">Implementation Measures</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 2}" class="uk-width-1-1" (click)="updateUrlPathParam(2)">
                <a><span class="uk-text-truncate">Financial Strategies</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 3}" class="uk-width-1-1" (click)="updateUrlPathParam(3)">
                <a><span class="uk-text-truncate">EOSC-relevant Activities</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 4}" class="uk-width-1-1" (click)="updateUrlPathParam(4)">
                <a><span class="uk-text-truncate">EOSC-relevant Services</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 5}" class="uk-width-1-1" (click)="updateUrlPathParam(5)">
                <a><span class="uk-text-truncate">EOSC-relevant Infrastructure</span></a>
              </li>
            </ul>
          </li>
          <li [ngClass]="{'uk-active current_section': isPracticesActive}" class="uk-parent">
            <a [routerLink]="'./practices'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">assignment</span>
                </div>
                <span [class.uk-text-bolder]="isPracticesActive" class="uk-width-expand uk-text-truncate uk-margin-small-left">EOSC Practices</span>
              </div>
            </a>
            <ul class="uk-nav-sub" data-uk-tab="connect: #practices-tabs;">
              <li [ngClass]="{'uk-active current_section': activeLink == 0}" class="uk-width-1-1" (click)="updateUrlPathParam(0)">
                <a><span class="uk-text-truncate">Mandated Organisations</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 1}" class="uk-width-1-1" (click)="updateUrlPathParam(1)">
                <a><span class="uk-text-truncate">National Monitoring</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 2}" class="uk-width-1-1" (click)="updateUrlPathParam(2)">
                <a><span class="uk-text-truncate">Monitoring Reporting</span></a>
              </li>
              <li [ngClass]="{'uk-active current_section': activeLink == 3}" class="uk-width-1-1" (click)="updateUrlPathParam(3)">
                <a><span class="uk-text-truncate">Use Cases</span></a>
              </li>
            </ul>
          </li>
          <li *ngIf="showInvestments" [ngClass]="{'uk-active current_section': isInvestmentsActive}" class="uk-parent">
            <a [routerLink]="'./investments'">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                <div class="uk-width-auto">
                  <span class="material-icons">euro</span>
                </div>
                <span [class.uk-text-bolder]="isInvestmentsActive" class="uk-width-expand uk-text-truncate uk-margin-small-left">EOSC Investments</span>
              </div>
            </a>
            <ul class="uk-nav-sub" data-uk-tab="connect: #investments-tabs;">
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(0)">
                <a><span class="uk-text-truncate">National Contributions</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(1)">
                <a><span class="uk-text-truncate">EOSC-A Members</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(2)">
                <a><span class="uk-text-truncate">Other Contributions</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(3)">
                <a><span class="uk-text-truncate">Contribution Sources</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(4)">
                <a><span class="uk-text-truncate">Contribution Level</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(5)">
                <a><span class="uk-text-truncate">Earmarked Contributions</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(6)">
                <a><span class="uk-text-truncate">Non-earmarked Contributions</span></a>
              </li>
              <li [routerLinkActive]="['current_section']" class="uk-width-1-1" (click)="updateUrlPathParam(7)">
                <a><span class="uk-text-truncate">Structural/Investment Funds</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div id="page_content" class="dashboard">
    <router-outlet></router-outlet>
  </div>
</div>




